@import "./_variables";
@import "./_mixins";

body {
  background-color: $form-bg;
  color: white;
  height: 100vh;
  @include flex(column);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  * {
    margin: 0 auto;
  }
}

// Form
.form {
  margin-top: 20px;
  background-color: rgba(34, 34, 202, 0.4);
  border-radius: 12px;
  width: 45%;
  @include flex(column);
  * {
    width: 90%;
  }

  .text-inputs {
    width: 100%;

    .name-input,
    .email-input {
      @include flex(column);

      label {
        margin-top: 20px;
        margin-left: 0;
        margin-bottom: 5px;
        display: inline-block;
      }
    }

    input {
      width: 100%;
      border: none;
      @include inputs;
    }
  }

  // Select batch
  .select-batch {
    margin-top: 20px;
    margin-bottom: 10px;
    select {
      padding: 10px 0;
      width: 100%;
      @include inputs;
    }
  }

  // radio buttons
  .radio-buttons {
    @include flex(column);
    width: 100%;
    div {
      width: 100%;
      input {
        width: 9%;
        margin-left: 10px;
      }

      label {
        margin-left: -15px;
      }
    }
  }

  //   checkbox buttons
  .check-boxes {
    p {
      margin-left: 0;
      margin-top: 15px;
    }
    input {
      width: 5%;
      height: 10%;
      margin-left: -7px;
    }
  }

  input[type="submit"] {
    width: 20%;
    margin: 40px auto;
    padding: 12px 0;
    border-radius: 5px;
    border: none;
  }

  .text-feedback {
    @include flex(column);
    width: 100%;
    margin-top: 50px;

    p {
      margin-bottom: 10px;
    }
    textarea {
      margin: 0 auto;
      border-radius: 5px;
      height: 20vh;
      resize: none;
    }
  }
}
